# FastAPI
fastapi

# Server
uvicorn

# ORM / Schemas
sqlmodel
pydantic-settings

# Database Driver (using SQLite for simple local dev)
# For PostgreSQL in production, you would use:
# psycopg2-binary

# Auth
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.1.3

# For reading .env file
python-dotenv

# For handling form data in FastAPI (OAuth2PasswordRequestForm)
python-multipart
